{{{notification}}}
<p>Enter SoundCloud URL -> get mp3. Simple.</p>
<input type="text" class="input-xlarge" id="soundcloud-url" placeholder="http://soundcloud.com/example/song-url">
<a class="btn btn-primary btn-large" href="#" id="download-button">Download</a>
