<!doctype html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>DownedCloud | SoundCloud -> MP3</title>
	<meta name="description" content="">
	<meta name="Author" content="Travis Berry, http://www.travisberry.com">
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" type="image/x-icon" href="http://d9fldgcqu0vu0.cloudfront.net/favicon.ico">
	<link rel="stylesheet" href="http://d9fldgcqu0vu0.cloudfront.net/twitter.min.css">
	<style>
		.hero-unit{
			margin-top:60px;
		}
		.input-xlarge{
			width:100% !important;
			margin:20px 0px 20px 0px;
		}
		.page-header a{
			color:#333;
			text-decoration:none;
		}
	</style>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="../"></a>
				<div class="nav-collapse">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="hero-unit clearfix">
			<div class="page-header">
				<a href="/"><img style="display:inline;margin-top:10px;vertical-align:bottom;" src="http://d9fldgcqu0vu0.cloudfront.net/downed-cloud-logo.png" /></a><h1 style="display:inline;"><a href="/">DownedCloud</a></h1>
			</div>
			<div class="alert alert-success" style="display:none;">
				<strong>Success</strong> Your download should start shortly.
			</div>
			<div>
				{{{yield}}}
			</div>
		</div>
		<p>DownedCloud respects artist's copyright. Only songs flagged as downloadable will be downloaded. No exceptions.</p>
		<hr />
		<footer>
			Created by <a href="http://www.travisberry.com">Travis Berry</a> / Thanks to <a href="http://soundcloud.com/">SoundCloud</a> for a simple API
		</footer>
	</div>

	<!-- JavaScript at the bottom for fast page loading -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
	$("#download-button").click(function() {
		if($("#soundcloud-url").val() == ""){
			alert("Please enter a SoundCloud URL.");
		}else{
			if ($('.alert-danger').length) { // implies *not* zero
				$('.alert-danger').attr('style', 'display:none;');
			}
			if ($('.alert-success').length) { // implies *not* zero
				$('.alert-success').attr('style', 'display:none;');
			}
			$('.alert-success').attr('style', 'display:block;');
			url = encodeURIComponent($("#soundcloud-url").val())
			window.location = "/download/"+url
		}
	});
	</script>
	<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
		mathiasbynens.be/notes/async-analytics-snippet -->
	<script>
		var _gaq=[['_setAccount','UA-29692725-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>